<!-- navigation -->
	<nav>
		<div id='nav-menu'>
            <a class='nav-link nav-single' href='/about/'> About </a>
            <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> Events </a>
	            <div id='nav-students' class='nav-submenu'>
	            	<a class='sub-link' href='/events/'> Events </a>
	            	<a class='sub-link' href='/events/calendar'> Calendar </a>
	            	<a class='sub-link' href='/events/arts'> Arts Calendar </a>
	            	<a class='sub-link' href='/events/photos/'> Photos </a>
	            </div>
	        </div>
            <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> Student Leadership </a>
	            <div id='nav-students' class='nav-submenu'>
	            	<a class='sub-link' href='/students/mcministry/'> McMinistry </a>
	            	<a class='sub-link' href='/students/court/'> Court </a>
	            	<a class='sub-link' href='/students/committees/'> Committees </a>
	            	<a class='sub-link' href='/students/paas/'> Peer Academic Advisors </a>
	            	<a class='sub-link' href='/students/fellows/'> Academic Fellows </a>
	            	<a class='sub-link' href='/students/rhas/'> Rice Health Advisors </a>
	            	<a class='sub-link' href='/students/strive/'> Strive Liaisons </a>
	            	<a class='sub-link' href='/students/pcas/'> Peer Career Advisors </a>
	            </div>
            </div>
            <a class='nav-link nav-single' href='/about/'> Awards </a>
            <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> Fellows </a>
	            <div id='nav-mcteam' class='nav-submenu'>
	            	<a class='sub-link' href='/mcteam/a-team/'> McTeam </a>
	            	<a class='sub-link' href='/mcteam/divisional-advisors/'> Divisional Advisors </a>
	            	<a class='sub-link' href='/mcteam/first-year-mentors/'> First Year Mentors </a>
	            </div>
	        </div>
	        <a class='nav-link nav-single' href='/associates/'> Associates </a>
	        <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> McMinistry </a>
	            <div id='nav-mcministry' class='nav-submenu'>
	            	<a class='sub-link' href='/mcministry/constitution/'> Constitution </a>
	            	<a class='sub-link' href='/mcministry/budget/'> Budget </a>
	            	<a class='sub-link' href='/mcministry/minutes/'> Town Hall Minutes </a>
	            	<a class='sub-link' href='/mcministry/housing/'> Housing </a>
	            </div>
            </div>
	        <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> O-Week </a>
	            <div id='nav-oweek' class='nav-submenu'>
	            	<a class='sub-link' href='/oweek/'> UFO-Week </a>
	            	<a class='sub-link' href='/oweek/advisors/'> Advising Team </a>
	            	<a class='sub-link' href='/oweek/archive/'> Past O-Weeks </a>
	            </div>
            </div>
	        <div class='nav-dropdown'>
		        <a class='nav-link' href='#'> Resources </a>
	            <div id='nav-resources' class='nav-submenu'>
	            	<a class='sub-link' href='/resources/reserve/'> Room Reservations </a>
	            	<a class='sub-link' href='/resources/tech/'> Technology </a>
	            	<a class='sub-link' href='/resources/initiatives/'> Initiative Requests </a>
	            	<a class='sub-link' href='/resources/mick/'> The MICK </a>
	            	<a class='sub-link' href='/resources/facilities/'> Facilities </a>
	            	<a class='sub-link' href='/resources/tax-exempt/'> Tax Exempt Forms </a>
	            	<a class='sub-link' href='/resources/assets/'> Other Assets </a>
	            </div>
	        </div>
            <a class='nav-link nav-single' href='/contact/'> Contact </a>
            
        </div>
	</nav>