<!-- navigation -->
	<nav>
		<div id='nav-menu'>
            <a class='nav-link' href='/about/'> About </a>
            <a class='nav-link' href='/events/'> Events </a>
            <div>
	            <a class='nav-link' href='#'> Student Leadership </a>
	            <div id='nav-students' class='nav-submenu'>
	            	<a class='sub-link' href='/students/government/'> McMinistry </a>
	            	<a class='sub-link' href='/students/court/'> Court </a>
	            	<a class='sub-link' href='/students/committees/'> Committees </a>
	            	<a class='sub-link' href='/students/paas/'> Peer Academic Advisors </a>
	            	<a class='sub-link' href='/students/fellows/'> Academic Fellows </a>
	            	<a class='sub-link' href='/students/rhas/'> Rice Health Advisors </a>
	            	<a class='sub-link' href='/students/pcas/'> Peer Career Advisors </a>
	            	<a class='sub-link' href='/oweek/advisors/'> O-Week Advising Team </a>
	            </div>
            </div>
            <div>
	            <a class='nav-link' href=''> McTeam </a>
	            <div id='nav-mcteam' class='nav-submenu'>
	            	<a class='sub-link' href='/mcteam/a-team/'> A-Team </a>
	            	<a class='sub-link' href='/mcteam/associates/'> Associates </a>
	            	<a class='sub-link' href='/mcteam/divisional-advisors/'> Divisional Advisors </a>
	            	<a class='sub-link' href='/mcteam/first-year-mentors/'> First Year Mentors </a>
	            </div>
	        </div>
	        <div>
	            <a class='nav-link' href=''> McMinistry </a>
	            <div id='nav-mcministry' class='nav-submenu'>
	            	<a class='sub-link' href='/mcministry/constitution/'> Constitution </a>
	            	<a class='sub-link' href='/mcministry/budget/'> Budget </a>
	            	<a class='sub-link' href='/mcministry/minutes/'> Town Hall Minutes </a>
	            	<a class='sub-link' href='/mcministry/housing/'> Housing </a>
	            </div>
            </div>
	        <div>
	            <a class='nav-link' href=''> O-Week </a>
	            <div id='nav-oweek' class='nav-submenu'>
	            	<a class='sub-link' href='/oweek/'> UFO-Week </a>
	            	<a class='sub-link' href='/oweek/advisors/'> Advising Team </a>
	            	<a class='sub-link' href='/oweek/archive/'> Past O-Weeks </a>
	            </div>
            </div>
	        <div>
		        <a class='nav-link' href=''> Resources </a>
	            <div id='nav-resources' class='nav-submenu'>
	            	<a class='sub-link' href='/resources/reserve/'> Room Reservations </a>
	            	<a class='sub-link' href='/resources/initiatives/'> Initiative Requests </a>
	            	<a class='sub-link' href='/resources/tech/'> Technology </a>
	            	<a class='sub-link' href='/resources/tax-exempt/'> Tax Exempt Forms </a>
	            	<a class='sub-link' href='/resources/assets/'> Other Assets </a>
	            </div>
	        </div>
            <a class='nav-link' href='/contact/'> Contact </a>
            
        </div>
	</nav>