<!-- navigation -->
	<nav>
		<div id='nav-menu'>
			<!-- About -->
            <a class='nav-link nav-single' href='/about/'> About </a>
            <!-- Events -->
            <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> Events </a>
	            <div id='nav-students' class='nav-submenu'>
	            	<a class='sub-link' href='/events/'> Events </a>
	            	<a class='sub-link' href='/events/arts'> Arts Calendar </a>
	            	<a class='sub-link' href='/events/photos/'> Photos </a>
	            </div>
	        </div>

	        <!-- Student Leadership -->
            <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> Residential Leadership </a>
	            <div id='nav-students' class='nav-submenu'>
	            	<a class='sub-link' href='/adults/mcteam/'> McTeam </a>
	            	<a class='sub-link' href='/students/mcministry/'> McMinistry </a>
	            	<a class='sub-link' href='/students/court/'> Court </a>
	            	<a class='sub-link' href='/students/committees/'> Committees </a>
	            	<a class='sub-link' href='/associates/'> Associates </a>
	            </div>
            </div>
			
			<!-- Academics -->
			<div class='nav-dropdown'>
	            <a class='nav-link' href='#'> Academics </a>
	            <div id='nav-mcteam' class='nav-submenu'>
	            	<a class='sub-link' href='/adults/divisional-advisors/'> Divisional Advisors </a>
	            	<a class='sub-link' href='/students/paas/'> Peer Academic Advisors </a>
	            	<a class='sub-link' href='/students/fellows/'> Academic Fellows </a>
	            </div>
	        </div>

            <!-- Adult Leadership -->
            <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> Wellbeing </a>
	            <div id='nav-mcteam' class='nav-submenu'>
	            	<a class='sub-link' href='/students/rhas/'> Rice Health Advisors </a>
	            	<a class='sub-link' href='/students/strive/'> Strive Liaisons </a>
	            </div>
	        </div>
	        
	        <!-- Guiding Documents -->
	        <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> Guiding Documents </a>
	            <div id='nav-mcministry' class='nav-submenu'>
	            	<a class='sub-link' href='/assets/files/110116_mcm_constitution.pdf'> Constitution </a>
	            	<a class='sub-link' href='/assets/files/110116_mcm_bylaws.pdf'> General Bylaws </a>
	            	<a class='sub-link' href='/assets/files/110116_mcm_housing_bylaws.pdf'> Housing Bylaws </a>
	            	<a class='sub-link' href='/assets/files/parking_bylaws.pdf'> Parking Bylaws </a>
	            	<a class='sub-link' href='/assets/files/tax_exempt_form.pdf'> Tax-Exempt Form </a>
	            	<!-- <a class='sub-link' href='/mcministry/budget/'> Budget </a> -->
	            	<!-- <a class='sub-link' href='/mcministry/minutes/'> Town Hall Minutes </a> -->
	            </div>
            </div>

            <!-- O-Week -->
            <div class='nav-dropdown'>
	            <a class='nav-link' href='#'> O-Week </a>
	            <div id='nav-mcteam' class='nav-submenu'>
	            	<a class='sub-link' href='http://mcmurtryoweek.wix.com/home-page'> UFO-Week </a>
	            	<a class='sub-link' href='/students/oweek/'> O-Week Advisors </a>
	            </div>
	        </div>

            <!-- Resources -->
	        <div class='nav-dropdown'>
		        <a class='nav-link' href='#'> Resources </a>
	            <div id='nav-resources' class='nav-submenu'>
	            	<a class='sub-link' href='/resources/reserve/'> Room Reservations </a>
	            	<a class='sub-link' href='https://docs.google.com/forms/d/e/1FAIpQLSekrzRmxwFU8DxqwLAxV94b9OFyesTLxkmwjituOuCSIjUjtQ/viewform?embedded=true&formkey=dFRXRWdxa20yMlF2dEN2U1lSNWxSemc6MQ'> Technology </a>
	            	<a class='sub-link' href='https://docs.google.com/forms/d/e/1FAIpQLSfWw9BThDp7wDgxtYYvwRomD-myrMXZYP6ve-TzincU81ViBg/viewform'> Initiative Requests </a>
	            	<a class='sub-link' href='/resources/mick/'> Design Kitchen </a>
	            	<a class='sub-link' href='/resources/facilities/'> Facilities </a>
	            	<a class='sub-link' href='/resources/tax-exempt/'> Tax Exempt Forms </a>
	            	<a class='sub-link' href='/resources/assets/'> Other Assets </a>
	            </div>
	        </div>
	        <!-- Contact -->
            <a class='nav-link nav-single' href='/contact/'> Contact </a>
            
        </div>
	</nav>