// _main.scss

//// variables + includes
// main palette
$color-purple: #8964A1;
$color-dark-purple: #443850;
$color-light-purple: #E2DCEB;
$color-teal: #2E4952;
$color-grey: #CDCDCD;
// accents
$color-accent-canary: #DFD5A5;
$color-accent-offwhite: #D3D0CB;
$color-accent-maroon: #5B2333;
$color-accent-grey: #AEB5B7;
$color-accent-blue: #44CCFF;


//// general
// text
h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: $color-purple;
}
h1 {
	font-size: 28px;
	font-weight: 400;
	color: black;
}
h2 {
	font-size: 18px;
}
a, span {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: black;
}
p {
	font-family: 'Quattrocento', serif;
	color: black;
	line-height: 150%;
	font-size: 14px;
	a {
		font-family: 'Quattrocento', serif;
		color: $color-purple;
		font-size: 14px;
		&:hover {
			color: $color-teal;
		}
	}
}

// tables
table {
	width: 100%;
	margin: 0 auto;
	border-spacing: 0;
    border-collapse: collapse;
}
td, th {
	padding: 15px;
	border-bottom: 1px solid $color-light-purple;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: left;
	a {
		font-size: 14px; 

		&:link, &:visited {
			color: $color-dark-purple;
		}
		&:hover {
			color: $color-purple;
		}
	}
}
tr {
	width: 100%;
}
.table-heading {
	border-top: 2px solid $color-purple;
}

.table-data {
	&:hover {
		background-color: $color-light-purple;
	}
}


// containers
section {
	width: 100%;
	height: auto;
	padding: 40px 15% 40px 15%;
	position: relative;
	bottom: 60px;
	text-align: center;
	@include box-sizing(border-box);

    h2 {
    	width: 225px;
    	margin: 0 auto;
		margin-bottom: 30px;
		padding: 15px;
		display: inline-block;
		border: 1px solid $color-purple;

		text-align: center;	
    }

    .section-text {
		text-align: justify;
	}
	.section-list {
		font-family: 'Quattrocento', serif;
		color: black;
		line-height: 150%;
		font-size: 14px;
		list-style-type: circle;
	}

	@media (max-device-width: 920), (max-width: 920px) {
		padding: 30px 5% 30px 5%;
		bottom: 0px;
		p {
			font-size: 14px;
		}
	}
}
.banner {
	width: 100%;
	height: 350px;
	position: relative;
	bottom: 60px;
	@include flex();
	@include flex-align(center);

	h1 {
		width: 250px;
		margin: 0 auto;
		margin-top: 15px;
		padding: 15px;
		color: $color-dark-purple;
		background-color: white;
		text-align: center
	}
	@media (max-device-width: 1020), (max-width: 1020) {
		height: 300px;
		margin-bottom: 30px;
		position: relative;
		bottom: 60px;
		text-align: center;
	}
	@media (max-device-width: 920), (max-width: 920px) {
		display: none;
		width: 100%;
	
	}
	.caption {
		position: absolute;
	}
}

#heading {
	width: 100%;
	height: 100px;
	text-align: center;
	@include flex();
    @include flex-align(center);
    @include flex-justify-content(center);

	h1 {
		display: inline-block;
		padding: 25px;
		padding-left: 10px;
	}

	a {
		@include flex();
	    @include flex-align(center);
	}

	img {
		display: inline-block;
	}
}

// navigation
nav {
	width: 100%;
    height: 60px;
    // padding: 10px;
    position: relative;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-clip: padding-box;
    z-index: 5;
    @include flex();
    @include flex-align(center);
    @include flex-justify-content(space-around);
    @include box-sizing(border-box);
    @include transition(0.25s, ease-in-out, background-color);

	#nav-menu {
		width: 95%;
		position: relative;
        @include flex();
        @include flex-justify-content(center);
	}

	.nav-link {
    	height: 20px;
    	padding: 20px 12px;
    	display: inline-block;
    	text-align: center;
    	text-transform: uppercase;
    	&:link, &:visited {
    		color: white;
    	}
  //   	&:hover {
  //   		color: $color-purple !important;
		// }
	}
	// .nav-dropdown:hover {
	// 	background-color: $color-light-purple;
	// }
	.nav-dropdown, .nav-single {
		@include transition(0.25s, ease-in-out);
	}
	.nav-submenu {
		display: none;
		position: absolute;
		@include transition(0.25s, ease-in-out);
		// top: 20px;
		.sub-link {
			display: block;
			padding: 10px 50px 10px 10px;
			@include transition(0.25s, ease-in-out);
			// background-color: #fff;
			&:link, &:visited {
				color: white;
			}
			&:hover {
				color: $color-purple;
				background-color: white;
			}
		}
	}
	
	@media (max-device-width: 920), (max-width: 920px) {
		#nav-menu {
			display: none;
		}

		display: none;
	}
}

footer {
	width: 100%;
	position: relative;
	padding: 40px 20% 40px 20%;
	text-align: center;
	display: block;
	background-color: $color-grey;
	@include box-sizing(border-box);
	#footer-address {
		margin-bottom: 20px;
	}
}
	#footer-crest {
		width: 100%;
		position: relative;
		top: 80px;
		text-align: center;
		z-index: 3;
	}


// other
#placeholder {
	display: none;
	height: 60px;
	@media (max-device-width: 920), (max-width: 920px) {
		height: 0px;
	}
}
.accent {
	display: inline-block;
	margin-top: 20px;
	color: white;
	background-color: $color-dark-purple;
	border: 2px solid $color-dark-purple;
	padding: 15px 30px 15px 30px;
	&:hover {
		color: $color-dark-purple;
		border: 2px solid $color-dark-purple;
		background-color: white;
	}
}