// styles.scss

// import
@import 'reset';
@import 'mixins';
@import 'main';

////// pages

//// 404
	#four {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 25px;
	}

//// home
	// intro
	#home-intro {
		background-color: $color-light-purple;
	}
	// quick-links
	#home-quick {
		width: 100%;
		padding: 20px;
		position: relative;
		bottom: 60px;
		background-color: $color-purple;
		@include flex();
		@include flex-justify-content(center);
	    @include box-sizing(border-box);
	    div {
	    	width: 80%;
	    	@include flex();
			@include flex-align(center);
		    @include flex-justify-content(space-around);
	    }
		h3 {
			font-size: 16px;
			display: inline-block;
			padding: 15px;
			background-color: white;
			@media (max-device-width: 1020px), (max-width: 1020px) {
				font-size: 14px;
			}
		}
		a {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			@include transition(0.25s, ease-in-out);
			&:link, &:visited {
				color: white;
			}
			&:hover {
				color: $color-dark-purple;
			}
		}
		select {
			display: none;
		}

		@media (max-device-width: 920), (max-width: 920px) {
			bottom: 0px;

			div {
				display: none;
			}
			select {
				width: 256px;
				margin: 0 auto;
				padding: 15px;
				display: block;

				border: 1px solid white;
				outline: none;

				-webkit-appearance: none;
				appearance: none;
	  			-webkit-border-radius: 0px;
	  			border-radius: 0px;
				

				text-align: center;
				text-transform: uppercase;
				text-indent: 64px;

				font-family: 'Quicksand', sans-serif;
				font-size: 14px;
				font-weight: 700;

				color: white;

				background-color: transparent;
				background: url('../img/down.png') 96% / 15% no-repeat;
			}
		}
	}
	// announcements
	.home-post {
		margin-top: 15px;
		display: block;
		text-align: justify;
		&-title {
			padding-left: 15px;
		}
		&-author {
			width: 100%;
			display: block;
			text-align: right;
		}
		&-border {
			width: 100%;
			padding-bottom: 30px;
			border-bottom: 1px solid $color-dark-purple;
		}
		&-sub {
			font-family: 'Open Sans', sans-serif;
			font-size: 12px;
			color: $color-purple;
		}
		&-entry {
			a {
				font-family: 'Quattrocento', serif;
				font-size: 16px;
				&:link, &:visited {
					color: $color-teal;
				}
				&:hover {
					color: $color-accent-blue;
				}
			}
		}
	}

//// banners
	#home-banner, #mcteam-banner, #student-banner {
		background: url('../img/mcmurtry-spring.jpg') center center no-repeat;
		background-size: cover;
	}
	#about-banner {
		background: url('../img/about.jpg') top center no-repeat;
		background-size: cover;
	}
	#oweek-banner {
		background: url('../img/oweek.jpg') top center no-repeat;
		background-size: cover;
	}
	#events-banner {
		background: url('../img/events.jpg') center center no-repeat;
		background-size: cover;
	}
	#ufo-banner {
		// background: url('../img/ufoweek.jpg') center center no-repeat;
		background-color: transparent;
		background-size: cover;
		height: 300px;

		h1 {
			font-size: 42px;
		}
	}
	#reserve-banner, #resources-banner {
		background: url('../img/reserve.jpg') center center no-repeat;
		background-size: cover;
	}
//// announcements

//// students
	// committee
	.comm-group {
		// @include flex();
	}
	.comm-single {
		margin-top: 30px;
	}
	.comm-heads {
		td, th {
			width: 50%;
		}
	}
//// mcteam
	.mcteam-bio {
		width: 20%;
		height: 500px;
		padding: 0;
		margin: 0;
		display: inline-block;
	}
	// #mc-bio {
	// 	background: url('../img/margaret-chris.jpg') center center no-repeat;
	// }
	// #ba-bio {
	// 	background: url('../img/margaret-chris.jpg') center center no-repeat;
	// }
	// #so-bio {
	// 	background: url('../img/simon-ozge.jpg') center center no-repeat;
	// }
	// #bm-bio {
	// 	background: url('../img/brad-marla.jpg') center center no-repeat;
	// }
	// #jc-bio {
	// 	background: url('../img/margaret-chris.jpg') center center no-repeat;
	// }

	.fellow-text {
		text-align: justify;
	}
	.side-menu {
		display: block;
		width: 25%;
		height: 1000px;
		padding: 20px;
		position: absolute;
		right: 0px;
		top: 450px;
		background-color: $color-purple;
		@include flex();
		@include flex-justify-content(center);
	    @include box-sizing(border-box);

	    div {
	    	width: 90%;
	    	height: 300px;
	    	@include flex();
	    	@include flex-direction(column);
			@include flex-align(center);
		    @include flex-justify-content(space-around);
	    }
	    a {
	    	font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			display: block;
			width: 100%;
			padding: 10px;
			text-align: left;
			@include transition(0.25s, ease-in-out);
			&:link, &:visited {
				color: white;
			}
			&:hover {
				color: $color-dark-purple;
			}
	    }
	}
	.fellow-bio {
		width: 70%;
		display: none;
		text-align: right;
		padding: 5%;
		h2 {
			width: auto;
			border: none;
			text-align: right;
			font-family: 'Quattrocento', serif;
			text-transform: none;
			font-size: 24px;
			color: black;
			padding: 0;
		}
	}
	.link-masters {
		color: $color-dark-purple;
	}
	.selected {
		display: block;
		position: relative;
	}
//// mcministry

//// oweek
	.ufo {
		top: 0px;
	}
	.ufo-back {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 7px;
		z-index: 5;
		a {
			display: block;
			color: white;
			padding: 7px;
			&:hover {
				color: $color-purple;
			}
		}
	}
	.ufo-animate {
		display: block;
		width: 100%;
		height: 300px;
		position: absolute;
		top: 0px;
		z-index: -1;
		@include flex();
		@include flex-justify-content(center);
	}
	.ufo-background {
		width: 100%;
		height: 300px;
		background-color: black;
		position: absolute;
		top: 0px;
		z-index: -2;
	}
	#animate-ufo {
		svg {
			width: 100px;
			position: absolute;
			top: 50px;
			left: 0;
			// margin-top: 80px;
			// margin-right: 250px;
			// @include rotate2D(-30deg);
		}
	}
	#animate-earth {
		svg {
			width: 300px;
			height: 300px;
			margin-top: 200px;
			-webkit-animation-name: spin;
			animation-name: spin;
			-webkit-animation-duration: 30s;
			animation-duration: 30s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			transform-origin: 50% 50%;
		}
	}
	.ufo {
		background-color: white;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
//// resources

//// contact