---
layout: people
title: Committees
---

<div id='home-quick'>
	<div>
		<a href='/students/committees/#' class='quick-link'> External </a>
		<a href='/students/committees/#' class='quick-link'> Internal </a>
		<a href='/students/committees/#' class='quick-link'> Social </a>
	</div>
</div>

{% for group in site.data.committees %}
<section id='{{ group.class }}' class='office'>
	<h2> {{ group.name }} </h2>
	
	<div class='comm-group'>
	{% for committee in group.committees %}
		<div class='comm-single'>
			<h3> {{ committee.name }} </h3>
			<div class='section-text'>
				<p> {{ committee.description}} </p>
			</div>
			<table class='comm-heads'>
				<tr class='table-heading'>
					<th> Name </th>
					<th> Email </th>
				</tr>
				{% for head in committee.heads %}
					<tr class='table-data'>
						<td> {{ head.name }} </td>
						<td> <a href='mailto:{{ head.email }}'> {{ head.email }} </a> </td>
					</tr>
				{% endfor %}
			</table>
		</div>
	
	{% endfor %}
	</div>

</section>

{% endfor %}