<!DOCTYPE html>
<html lang="en">

<!-- 
	McMurtry is Bananas.
	Copyright McMurtry College

	Redesign By:
		- Patrick Dunphy '16
		- Jeffrey Xiong '18
-->

<head>
    <title> McMurtry College &middot; {{page.title}}</title>
    <!-- meta -->
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- fonts -->
    <!-- stylin' -->
    <link rel='stylesheet' type='text/css' href='assets/css/styles.css'>
    <link rel='shortcut icon' href='assets/img/favicon.png'>
    <!-- facebook -->
    <meta property='og:title' content='McMurtry College'>
    <meta property='og:type' content='website'>
    <meta property='og:image' content='http://mcmurtry.rice.edu/assets/img/mcmurtry-fb.png'>
    <meta property='og:image:url' content='http://mcmurtry.rice.edu/assets/img/mcmurtry-fb.png'>
    <meta property='og:image:width' content='470'>
    <meta property='og:image:width' content='190'>
    <meta property='og:url' content='http://mcmurtry.rice.edu/'>
    <meta property='og:description' content='McMurtry College: the best residential college of Rice University. Est. 2009'>
    <!-- twitter -->
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@hackrice'>
    <meta name='twitter:title' content='HackRice 2016'>
    <meta name='twitter:description' content='McMurtry College: the best residential college of Rice University. Est. 2009'>
    <meta name='twitter:image' content='https://mcmurtry.rice.edu/assets/img/mcmurtry-twtr.png'>
    <meta name='twitter:image:width' content='512'>
    <meta name='twitter:image:height' content='512'>
</head>

<body>

	<!-- heading -->
	<div>
		<h1> McMurtry College </h1>
	</div>
	
	<!-- navigation -->
	<nav>
		<div id='nav-menu'>
            <a class='nav-link' href='/about/'> About </a>
            <a class='nav-link' href='/#'> Student Leadership </a>
	            <div id='nav-students' class='nav-submenu'>
	            	<a class='nav-link' href='/students/government/'> McMinistry </a>
	            	<a class='nav-link' href='/students/court/'> Court </a>
	            	<a class='nav-link' href='/students/committees/'> Committees </a>
	            	<a class='nav-link' href='/students/paas/'> Peer Academic Advisors </a>
	            	<a class='nav-link' href='/students/fellows/'> Academic Fellows </a>
	            	<a class='nav-link' href='/students/rhas/'> Rice Health Advisors </a>
	            	<a class='nav-link' href='/students/pcas/'> Peer Career Advisors </a>
	            	<a class='nav-link' href='/oweek/advisors/'> O-Week Advising Team </a>
	            </div>
            <a class='nav-link' href='/#'> McTeam </a>
	            <div id='nav-mcteam' class='nav-submenu'>
	            	<a class='nav-link' href='/mcteam/a-team/'> A-Team </a>
	            	<a class='nav-link' href='/mcteam/associates/'> Associates </a>
	            	<a class='nav-link' href='/mcteam/divisional-advisors/'> Divisional Advisors </a>
	            	<a class='nav-link' href='/mcteam/first-year-mentors/'> First Year Mentors </a>
	            </div>
            <a class='nav-link' href='/#'> McMinistry </a>
	            <div id='nav-mcministry' class='nav-submenu'>
	            	<a class='nav-link' href='/mcministry/constitution/'> Constitution </a>
	            	<a class='nav-link' href='/mcministry/budget/'> Budget </a>
	            	<a class='nav-link' href='/mcministry/minutes/'> Town Hall Minutes </a>
	            	<a class='nav-link' href='/mcministry/housing/'> Housing </a>
	            </div>
            <a class='nav-link' href='/#'> O-Week </a>
	            <div id='nav-oweek' class='nav-submenu'>
	            	<a class='nav-link' href='/oweek/'> UFO-Week </a>
	            	<a class='nav-link' href='/oweek/advisors/'> Advising Team </a>
	            	<a class='nav-link' href='/oweek/archive/'> Past O-Weeks </a>
	            </div>
	        <a class='nav-link' href='/#'> Resources </a>
	            <div id='nav-resources' class='nav-submenu'>
	            	<a class='nav-link' href='/resources/reserve/'> Room Reservations </a>
	            	<a class='nav-link' href='/resources/initiatives/'> Initiative Requests </a>
	            	<a class='nav-link' href='/resources/tech/'> Technology </a>
	            	<a class='nav-link' href='/resources/tax-exempt/'> Tax Exempt Forms </a>
	            	<a class='nav-link' href='/resources/assets/'> Other Assets </a>
	            </div>
            <a class='nav-link' href='/contact/'> Contact </a>
            
        </div>
	</nav>

	<!-- content -->
	{{content}}

	<!-- footer -->
	<footer>
		<div id='footer'></div>
	</footer>

</body>








