<!DOCTYPE html>
<html lang="en">

<!-- 
	McMurtry is Bananas.
	Copyright McMurtry College

		- Patrick Dunphy '16
		- Jeffrey Xiong '18
-->

<head>
    <title> McMurtry College &middot; {{page.title}}</title>
    <!-- meta -->
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
    <!-- stylin' -->
    <link rel='stylesheet' type='text/css' href='/assets/css/styles.css'>
    <link rel='shortcut icon' href='/assets/img/favicon.ico'>
    <!-- facebook -->
    <meta property='og:title' content='McMurtry College'>
    <meta property='og:type' content='website'>
    <meta property='og:image' content='http://mcmurtry.rice.edu/assets/img/mcmurtry-fb.png'>
    <meta property='og:image:url' content='http://mcmurtry.rice.edu/assets/img/mcmurtry-fb.png'>
    <meta property='og:image:width' content='470'>
    <meta property='og:image:width' content='190'>
    <meta property='og:url' content='http://mcmurtry.rice.edu/'>
    <meta property='og:description' content='McMurtry College: the best residential college of Rice University. Est. 2009'>
    <!-- twitter -->
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@hackrice'>
    <meta name='twitter:title' content='HackRice 2016'>
    <meta name='twitter:description' content='McMurtry College: the best residential college of Rice University. Est. 2009'>
    <meta name='twitter:image' content='https://mcmurtry.rice.edu/assets/img/mcmurtry-twtr.png'>
    <meta name='twitter:image:width' content='512'>
    <meta name='twitter:image:height' content='512'>
</head>

<body>
    
    <!-- heading -->
    <div class='heading'>
        <a href='/'>
            <img id='mcm-crest' src='/assets/img/mcm-crest.svg' alt='' height='75'>
            <h1> McMurtry College </h1>
        </a>
    </div>
    
    {% include nav.html %}

    <!-- placeholder -->
    <div id='placeholder'></div>
    
	<!-- content -->
	{{content}}

    <!-- crest -->
    <div id='footer-crest'>
        <img src='/assets/img/mcm-crest.svg' alt='McMurtry Crest' height='150'>
    </div>

	<!-- footer -->
	<footer>
        <br><br>
        <div id='footer-address'>
            <span> McMurtry College &middot; MS 761 &middot; <a href='http://www.rice.edu/'>Rice University</a></span><br>
            <span> 1605 Rice Blvd. &middot; Houston, TX 77005 </span><br>
            <span> Phone: (713) 348-4583 &middot; Fax: (713) 348-3135 </span>
        </div>
        <div id='footer-copyright'>
            <span>Copyright &copy; McMurtry College, 2016</span>
        </div>
	</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

</body>


</html>





